{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/clue_plus_style.css' %}" />
</head>
<body id="page_body">

    <div class="full_page full_border">

        <!-- ROW -->
        <div class="status_row bb">

            <!-- Clue Suspects -->
            <div class="fifth">
                <div class="clue_item cell_default">Mr. Green</div>
            </div>

            <!-- Player 1 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 1 -->

            <!-- Player 2 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 2 -->

            <!-- Player 3 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 3 -->

            <!-- Player 4 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 4 -->



        </div>
        <!-- /ROW -->


        <!-- ROW -->
        <div class="status_row bb">

            <!-- Clue Suspects -->
            <div class="fifth">
                <div class="clue_item cell_default">Col. Mustard</div>
            </div>

            <!-- Player 1 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 1 -->

            <!-- Player 2 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 2 -->

            <!-- Player 3 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 3 -->

            <!-- Player 4 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 4 -->



        </div>
        <!-- /ROW -->


        <!-- ROW -->
        <div class="status_row bb">

            <!-- Clue Suspects -->
            <div class="fifth">
                <div class="clue_item cell_default">Mrs. Peacock</div>
            </div>

            <!-- Player 1 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 1 -->

            <!-- Player 2 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 2 -->

            <!-- Player 3 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 3 -->

            <!-- Player 4 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 4 -->



        </div>
        <!-- /ROW -->


        <!-- ROW -->
        <div class="status_row bb">

            <!-- Clue Suspects -->
            <div class="fifth">
                <div class="clue_item cell_default">Prof. Plum</div>
            </div>

            <!-- Player 1 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 1 -->

            <!-- Player 2 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 2 -->

            <!-- Player 3 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 3 -->

            <!-- Player 4 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 4 -->



        </div>
        <!-- /ROW -->


        <!-- ROW -->
        <div class="status_row bb">

            <!-- Clue Suspects -->
            <div class="fifth">
                <div class="clue_item cell_default">Ms. Scarlet</div>
            </div>

            <!-- Player 1 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 1 -->

            <!-- Player 2 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 2 -->

            <!-- Player 3 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 3 -->

            <!-- Player 4 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 4 -->



        </div>
        <!-- /ROW -->


        <!-- ROW -->
        <div class="status_row bb">

            <!-- Clue Suspects -->
            <div class="fifth">
                <div class="clue_item cell_default">Mrs. White</div>
            </div>

            <!-- Player 1 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 1 -->

            <!-- Player 2 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 2 -->

            <!-- Player 3 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 3 -->

            <!-- Player 4 -->
            <div class="fifth">
                <div class="cell_default player_status">
                    <div class="empty status_cell br"></div>
                    <div class="maybe_container">
                        <div class="maybe_row bb">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                        <div class="maybe_row">
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes br fourth"></div>
                            <div class="mabes fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Player 4 -->



        </div>
        <!-- /ROW -->



    </div>
</body>
<script type="text/javascript" src="{% static 'js/clue_plus_scripts.js' %}" async defer></script>
{% endblock %}
