 body{
     margin:0px;
     overscroll-behavior-y:contain!important;
}     
    .full_page{
        width:100%;
        max-width: 800px;
        margin: auto;
        font-family: sans-serif;
        text-align: center;
    }
    .clue_container{
        width:100%;
        position: relative;
        margin: auto;
        display:flex;
    }
    .item_row{
        display: inline-flex;
        height: 45px;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #000000;
    }
    .row_dsk{
        height:67px;
    }
    .thirds{
        position:relative;
        width:33.33%;
    }
/*********** GLOBAL CLASSES ***********/
.status_row{
    display: flex;
}

.cell_default{
    font-size: 18px;
    box-sizing: border-box;
    padding: 8px;
    height: 40px;
}

.player_status{
    display: flex;
    padding: 0px;
}

.full_border{border: 1px solid #000;}
.bt{border-top:1px solid #000;}
.br{border-right:1px solid #000;}
.bb{border-bottom:1px solid #000;}
.bl{border-left:1px solid #000;}


.clue_item{
    border-right: 3px solid #000;
}
.fourth{
    width: 25%;
}
.fifth{
    width: 20%;
}

.status_cell{
    width: 50%;
    padding: 8px;
}
.maybe_has{
    background-color: blue;
}
.maybe_container{
    width: 50%;
}
.maybe_row{
    width: 100%;
    display: flex;
    height: 20px;
    border-right: 3px solid #000;
    box-sizing: border-box;
}
.have{
    font-size: 30px;
    padding-top: 3px;
    color: green;
    font-weight: bold;
    background-color: lightgreen;
}
.dont_have{
    font-size: 30px;
    padding-top: 3px;
    color: red;
    font-weight: bold;
    background-color: lightcoral;
}
.not_shown{
    font-size: 30px;
    padding-top: 2px;
    color: gold;
    font-weight: bold;
    background-color: lightYellow;
}
.shown{
    font-size: 30px;
    padding-top: 2px;
    color: blue;
    font-weight: bold;
    background-color: lightblue;
}
.empty{
    background-color: none;
}

.na{
    background-color: grey;
}

.not_this_item{
    background-color: lightcoral;
    color: #ffffff;
    font-weight: bold;
}
